body {
  margin: 0;
  background: radial-gradient(circle at top, #0a0f1d, #000);
  font-family: Poppins, sans-serif;
  color: white;
}

.back-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #4ea8ff;
  text-decoration: none;
}

.weather-container {
  width: 380px;
  margin: 150px auto;
  padding: 30px;
  border-radius: 20px;

  /* Glass effect */
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(20px);

  box-shadow: 0 0 25px rgba(78,168,255,0.25);
  text-align: center;
}

input {
  width: 90%;
  padding: 12px;
  margin-top: 15px;
  border-radius: 12px;
  border: none;
  outline: none;

  background: rgba(255, 255, 255, 0.08);
  color: white;

  box-shadow: inset 4px 4px 8px rgba(0,0,0,0.5),
              inset -4px -4px 8px rgba(255,255,255,0.05);
}

button {
  width: 95%;
  padding: 12px;
  margin-top: 15px;
  border-radius: 12px;
  border: none;
  background: #4ea8ff;
  color: black;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.2s;
}

button:active {
  transform: scale(0.97);
}

.icon {
  width: 110px;
  margin: 15px 0;
}

.hidden {
  display: none;
}

.temp {
  font-size: 2.4rem;
  font-weight: bold;
}

.details {
  opacity: 0.8;
}
